:root {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
}

.search-result,
.search {
    width: 361px;
}
.search {
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    border: 1.5px solid transparent;
    display: flex;
    position: relative;

    input {
        color: var(--black);
        flex: 1;
        font-size: 1.6rem;
        height: 100%;
        background-color: transparent;
        caret-color: var(--primary);
        font-family: var(--font-family);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
        width: 1px;
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background: rgba(22, 24, 35, 0.06);
    }

    &:active .search {
        border: none;
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    animation: spinner 0.8s linear;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
